/* body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }

 for Sticky Footer
 
 #root {    
   display: flex;   
   min-height: 100vh;
   flex-direction: column;
 } */